<section class="technicalSpecifications container" id="technicalSpecifications">
	<h2 class="tecSpec__title">Технические характеристики</h2>
	<div class="tecSpec__table">
		<div class="tecSpecTable__wrap">
			<div class="table__title">Диаметр болтового соединения:</div>
			<div class="table__description">М6</div>
		</div>
		<div class="tecSpecTable__wrap">
			<div class="table__title">Цветовое исполнение:</div>
			<div class="table__description">по системе RAL</div>
		</div>
		<div class="tecSpecTable__wrap">
			<div class="table__title">Материал:</div>
			<ul class="table__description">
				<li>PE - полиэфирная смола, стандартное исполнение </li>
				<li>VE - винилэфирная смола, нестандартное исполнение</li>
			</ul>
		</div>
		<div class="tecSpecTable__wrap">
			<div class="table__title">Тип соединения:</div>
			<div class="table__description">через соединительную пластину</div>
		</div>
		<div class="tecSpecTable__wrap">
			<div class="table__title">Высота борта:</div>
			<ul class="table__description">
				<li>50 мм </li>
				<li>80 мм </li>
				<li>100 мм</li>
			</ul>
		</div>
		<div class="tecSpecTable__wrap">
			<div class="table__title">Ширина секций:</div>
			<ul class="table__description">
				<li>50 мм </li>
				<li>100 мм </li>
				<li>200 мм </li>
				<li>300 мм </li>
				<li>400 мм </li>
				<li>500 мм</li>
			</ul>
		</div>
	</div>
</section>		