@font-face {
    font-family: 'DM Sans 24pt';
    src: url('fonts/DMSans/DMSans24pt-Regular.eot');
    src: url('fonts/DMSans/DMSans24pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DMSans/DMSans24pt-Regular.woff2') format('woff2'),
        url('fonts/DMSans/DMSans24pt-Regular.woff') format('woff'),
        url('fonts/DMSans/DMSans24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}