.tests__btn-text
{
	font-size: 14px;
	font-weight: 600;
	line-height: 15.4px;
	color:rgba(255, 255, 255, 1);
}
.tests__title
{
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	color: white;
}