<section class="tests container">
	<h2 class="tests__title">
		Испытания
	</h2>
	<div class="mySwiper swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<div>
				<div class="news__item-el _wr" style="background-image: url('images/tests-bg.png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div>
					<div class="news__item-el _wr" style="background-image: url('images/tests-bg(1).png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div>
					<div class="news__item-el _wr" style="background-image: url('images/tests-bg(2).png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div>
					<div class="news__item-el _wr" style="background-image: url('images/tests-bg(3).png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div>
					<div class="news__item-el _wr" style="background-image: url('images/tests-bg(4).png');">
					<h4>
						Запуск производства монтажного страт-профиля
					</h4>
					<div class="news__item-link container-flex">
						<span>12.12.2022</span>
						<a href="#">
							<svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.8 0.300049L6.89 1.21005L10.53 4.85005H0V6.15005H10.53L6.89 9.79005L7.8 10.7L13 5.50005L7.8 0.300049Z" fill="white"/>
							</svg>
						</a>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!-- If we need navigation buttons -->
		<div class="swiper-pagination"></div>
		<!-- If we need scrollbar -->
		<!-- <div class="swiper-scrollbar"></div> -->
	</div>
		<button class="g-btn _btn container-flex" >
			<span class="tests__btn-text">Все испытания</span>
			{% include 'assets/svg/arrowUpRight.svg' %}
		</button>
</section>