<section class="wiringDiagram container" id="wiringDiagram">
	<h2 class="wirDia__title">Монтажная схема</h2>
	<div class="wirDia__wrap">	
		<div class="wirDia__table">
		<h3 class="wirDia__subtitle">Соединение вертикального подъёма 90°:</h3>
		<div class="table50__wrap">
			<h4 class="table50__title">Для высоты борта 50 мм:</h4>
			<ol class="table50__list">
				<li class="table50__item">1. Пластина соединительная прямая Р5Р 50 РЕ / УЕ / $Т$ - & шт</li>
				<li class="table50__item">2. Винт с полукруглой головкой М6х20 Е7М / НМ / $Т$ - 16 шт</li>
				<li class="table50__item">3. Шайба плоская 6/125 Е7М / НЕМ / $Т$ - 16 шт</li>
				<li class="table50__item">4. Гайка с фланцем М6 ЕЁМ / НЁМ / $Т$ - 16 шт</li>
			</ol>
		</div>
		<div class="table50__wrap">
			<h4 class="table50__title">Для высоты борта 80/100 мм:</h4>
			<ol class="table50__list">
				<li class="table50__item">1. Пластина соединительная прямая РЗР 80/100 РЕ / УЕ / $Т$ - 4 шт</li>
				<li class="table50__item">2. Винт с полукруглой головкой М6х20 Е7М / НЁМ / $Т$ - 32 шт</li>
				<li class="table50__item">3. Шайба плоская 6/125 Е7М / НЁМ / $Т$ - 32 шт</li>
				<li class="table50__item">4. Гайка с фланцем М6 Е7М / НЁМ / $Т$ - 32 шт</li>
			</ol>
		</div>
		<div class="table50__wrap">
			<h4 class="table50__title">Для высоты борта 150/200 мм:</h4>
			<ol class="table50__list">
				<li class="table50__item">1. Пластина соединительная прямая РР 150/200 РЕ /УЕ / $Т$ - 4 шт</li>
				<li class="table50__item">2. Винт с полукруглой головной М6х20 ЕРМ / НМ / $Т$ - 32 шт</li>
				<li class="table50__item">3. Шайба плоская 6/125 Е7М / НЕМ / $Т$ - 32 шт</li>
				<li class="table50__item">4. Гайка с фланцем Мб Е7М / НЁМ / $Т$ - 32 шт</li>
			</ol>
		</div>
		</div>
		<img src="images/image 118.png" alt="" class="wirDia__img">
	</div>
</section>