<section class="projekt container">
	
	<h1 class="projekt__title">Проекты</h1>
	<div class="projekt__el">

			<div class="projekt__el-item" style="background-image: url(images/bg-projekt.png)">
				<div class="projekt__el-wrap container-flex">
					<span>Балковский филиал АО «Апатит»</span>
					<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
					</svg>
					</a>
				</div>
			</div>

		<div class="projekt__el-item" style="background-image: url(images/bg-projekt1.png)">
			<div class="projekt__el-wrap container-flex">
				<span>Кировский филиал АО «Апатит»</span>
				<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
				</svg>
			</a>
		</div>
	</div>

	<div class="projekt__el-item" style="background-image: url(images/bg-projekt2.png)">
		<div class="projekt__el-wrap container-flex">
			<span>Волховский филиал АО «Апатит»</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>

	<div class="projekt__el-item" style="background-image: url(images/bg-projekt3.png)">
		<div class="projekt__el-wrap container-flex">
			<span>Центр обработки данных «Удомля» АО Росэнергоатом</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>

	<div class="projekt__el-item" style="background-image: url(images/bg-projekt4.png)">
		<div class="projekt__el-wrap container-flex">
			<span>Предприятие энергетики Санкт-Петербурга «Центральная ТЭЦ»</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>

	<div class="projekt__el-item" style="background-image: url(images/bg-projekt5.png)">
		<div class="projekt__el-wrap container-flex">
			<span>ПАТЭС «Академик Ломоносов»</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>

	<div class="projekt__el-item" style="background-image: url(images/bg-projekt6.png)">
		<div class="projekt__el-wrap container-flex">
			<span>Станция Московского Метрополитена «Некрасовка»</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>
	
	<div class="projekt__el-item" style="background-image: url(images/bg-projekt7.png)">
		<div class="projekt__el-wrap container-flex">
			<span>Транспортный переход через Керченский пролив</span>
			<a href="#"><svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
			</svg>
		</a>
	</div>
	</div>
</div>

</section>