<section class="product1 container">
	<div class="product1__link">
		<a href="#">Главная</a>
		<span>/</span>
		<a href="#">Продукция</a>
		<span>/</span>
		<a href="#">Композитные кабельные лотки</a>
		<span>/</span>
		<a href="#">Угол вертикальный USVP-90°</a>
	</div>
	<h2 class="product1__title">Угол вертикальный USVP-90°</h2>
	<div class="product1__flex">
		<img src="images/Угол вертикальный USVP-90°.png" alt="" class="product1__img">
		<div class="product1__text">
			<div class="product1Text__description">
				<h3>Описание</h3>
				<span>Данный элемент представляет собой собранный угол для подъёмакабельной трассы под углом 90° вверх.</span>
			</div>
			<div class="product1Text__application">
				<h3>Применение</h3>
				<span>Применяется для организации подъёма кабельной трассы под углом 90° снаружи и внутри помещений. Защищает кабель от механическихповреждений и воздействий агрессивной среды.</span>
			</div>
		</div>
	</div>
</section>

<section class="navFixed accordeon _accordeon container">
	<div class="accordeon__btn navFixed__onclick" onclick="mainObj.accordeon.show(this)">
		<span>Основная информация</span>
		<img src="images/arrow-top-green.svg" class="accordeon__arrow _accArr" alt="">
	</div>
	<div class="accordeon__content _accordeonContent">
		<ul class="navFixed__list _contentHeight">
			<li class="navFixed__item"><a href="#technicalSpecifications">Технические характеристики</a></li>
			<li class="navFixed__item"><a href="#wiringDiagram">Монтажная схема</a></li>
			<li class="navFixed__item"><a href="#ArticleTable">Таблица артикулов</a></li>
		</ul>
	</div>	
</section>