<footer>
	<div class="container">
		<div class="footer__top container-flex">
			<a href="#">
				<img src="images/logo.png" alt="">
			</a>
			<div class="footer__top-phone">
				<a href="tel:+74952155512">+7 (495) 21-555-12</a>
				<a href="mailto:info@formcomposite.ru">info@formcomposite.ru</a>
			</div>
		</div>
		<div class="footer__middle">
			<div class="footer__middle-list">
				<ul class="footer__middle-item">
					<li>
						навигация
					</li>
					<li>
						<a href="#">О компании</a>
					</li>
					<li>
						<a href="#">Проекты</a>
					</li>
					<li>
						<a href="#">Продукция</a>
					</li>
					<li>
						<a href="#">Испытания</a>
					</li>
					<li>
						<a href="#">Карьера</a>
					</li>
					<li>
						<a href="#">Новости</a>
					</li>
					<li>
						<a href="#">Документация</a>
					</li>
					<li>
						<a href="#">Проектировщику</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</ul>
				<ul class="footer__middle-item">
					<li>
						ПРОДУКЦИЯ
					</li>
					<li>
						<a href="#">Композитные кабельные лотки</a>
					</li>
					<li>
						<a href="#">Композитные монтажные системы</a>
					</li>
					<li>
						<a href="#">Крепежные изделия</a>
					</li>
					<li>
						<a href="#">Высоковольтные кабельные крепления</a>
					</li>
					<li>
						<a href="#">Анкерный крепеж</a>
					</li>
					<li>
						<a href="#">Настилы</a>
					</li>
				</ul>
			</div>
			<ul class="footer__middle-adress">
				<li>ООО «Формкомпозит», 127549, город Москва,</li>
				<li>улица Бибиревская, дом 2, корпус 1</li>
				<li>ИНН: 9715321930, КПП: 771501001, ОГРН: 1187746801230</li>
				<li>
					<a href="#">Политика конфиденциальности</a>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<span>Разработано <a href="#">akcent.agency</a></span>
			<span>© ФормКомпозит, 2023</span>
		</div>
	</div>


</footer>