<section class="project container">
	<div class="project__link">
		<a href="#">Главная</a>
		<a href="#">/</a>
		<a href="#">Проекты</a>
	</div>
	<h2 class="project__title">Проекты</h2>
	<div class="project__item">
		<div class="project__item-el" style="background-image: url(images/project-bg.png);"> 
			<div class="project__link-el container-flex ">
				<span>Балковский филиал АО «Апатит»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg1.png);"> 
			<div class="project__link-el container-flex ">
				<span>Кировский филиал АО «Апатит»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg2.png);"> 
			<div class="project__link-el container-flex ">
				<span>Волховский филиал АО «Апатит»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg3.png);"> 
			<div class="project__link-el container-flex ">
				<span>Центр обработки данных «Удомля» АО Росэнергоатом</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg4.png);"> 
			<div class="project__link-el container-flex ">
				<span>Предприятие энергетики Санкт-Петербурга «Центральная ТЭЦ»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg5.png);"> 
			<div class="project__link-el container-flex ">
				<span>ПАТЭС «Академик Ломоносов»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg6.png);"> 
			<div class="project__link-el container-flex ">
				<span>Станция Московского Метрополитена «Некрасовка»</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		<div class="project__item-el" style="background-image: url(images/project-bg7.png);"> 
			<div class="project__link-el container-flex ">
				<span>Транспортный переход через Керченский пролив</span>
				<a href="#">
				<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L5.3 0.7L8.1 3.5H0V4.5H8.1L5.3 7.3L6 8L10 4L6 0Z" fill="white"/>
</svg></a>

				
			</div>
			
		</div>
		
	</div>
	
</section>